/* src/App.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #e4e4e4;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.game-item {
  margin: 10px;
  text-align: center;
}

.game-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.game-details {
  padding: 20px;
}

.game-details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}
