/* src/App.css */
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 1rem;
  position: fixed;
  z-index: 1000;
  top: 1rem;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is on top of other content */
  background-color: #000000;
}

.navbar li {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #e4e4e4;
}

.game-name {
  color: black; /* Set text color to black */
  text-decoration: none; /* Remove underline from links */
}

.game-name:hover {
  color: darkgray; /* Optional: Change color on hover */
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.game-item {
  margin: 10px;
  text-align: center;
}

.game-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.game-details {
  padding: 20px;
}

.game-details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

/* custom.css */

body,
html {
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Light text color */
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 150px; /* Adjust this value to match the height of your navbar */
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; /* Light text color for navbar links */
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #cccccc; /* Slightly darker text color on hover */
}

.card {
  background-color: #1e1e1e; /* Dark background for cards */
  color: #ffffff; /* Light text color for cards */
}

.card img {
  filter: brightness(0.9); /* Slightly darken images for better contrast */
}

.card-title,
.card-text {
  color: #ffffff; /* Ensure text within cards is light */
}

.navbar-light .navbar-brand img {
  height: 70px; /* Adjust the height as needed */
  max-height: 100%; /* Ensure the image fits within the navbar */
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
